body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #000;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    color: #fff;

}

h1 {
    font-size: 90px;
}

div {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

button {
    width: 280px;
    height: 60px;
    font-size: 30px;
    border: none;
    color: #fff;
    border-radius: 8px;
}

#start {
    background-color: #25a848;
}

#pause {
    background: #256fa8;
}

#reset {
    background-color: #c92222;
}

button:hover,
button:focus {
    border-color: #f5c825;
    transition: 0.7s;
    cursor: pointer;
    color: #f5c825;
    box-shadow: 0px 4px 27px -12px #f5c825;
}